# Grafana UI Credentials
grafana_username=admin
grafana_password=example-password

# MinIO UI Credentials
minio_username=example-username
minio_password=example-password

# Vault Credentials
vault_root_token=example-token

# Vault Unseal Keys (need 3 of 5 to unseal)
vault_unseal_key_1=example-key-1
vault_unseal_key_2=example-key-2
vault_unseal_key_3=example-key-3
vault_unseal_key_4=example-key-4
vault_unseal_key_5=example-key-5

# Prometheus/Alertmanager (if you decide to add authentication later)
# prometheus_username=admin
# prometheus_password=your_secure_password 